
#Directories
**/bin
**/obj
**/TestResults
**/Properties
**/.vs
**/packages/*
!**/packages/build/
.vscode

#Files
.DS_store
*.suo
*.vspscc
*.vssscc
*.user
*.psess
*.vsp
appsettings.json
local.settings.json
*settings.json